name: "Create Release"

on:
  workflow_dispatch:
  push:
    tags:
      - "*"

jobs:
  create_release:
    name: "Create Release from Markdown"
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          body_path: ${{ github.workspace }}/.github/releases/release-body.txt
